<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haroka - Fashion by Functions</title>
    <meta name="description" content="Haroka.id – Fashion by Functions. Discover stylish and functional sling bags designed for everyday carry, travel, and urban lifestyles in Bandung, Indonesia.">

    <meta name="keywords" content="Haroka.id, Fashion by Functions, sling bags, crossbody bags, minimalist bags, everyday carry, EDC bags, travel bags, urban fashion, stylish bags, functional bags, versatile bags, smart storage bags, compact bags, lightweight bags, unisex bags, Indonesia, Bandung">
    
    <!-- Canonical link -->
    <link rel="canonical" href="https://haroka.id/">
    
    <!-- Favicon and Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image/favicon-16x16.png">
    <link rel="manifest" href="./assets/image/site.webmanifest">
    <link rel="shortcut icon" href="./assets/image/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./assets/image/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="verD">
    <meta property="og:image" content="./assets/image/thumb-01.png"/>
    <meta property="og:description" content="Haroka.id – Fashion by Functions. Discover stylish and functional sling bags for travel, urban wear, and everyday carry."/>
    <meta property="og:url" content="https://haroka.id/"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627"/>
    <meta property="og:type" content="website"/> 
    
  <!-- Schema.org Markup -->
<!-- WebSite Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://haroka.id/"
}
</script>

<!-- Breadcrumb Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "https://haroka.id/",
        "name": "Home"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "https://haroka.id/about",
        "name": "About"
      }
    }
  ]
}
</script>

<!-- Organization Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Haroka.id",
  "url": "https://haroka.id/",
  "logo": "https://haroka.id/assets/image/logo.png"
}
</script>

    
    <link rel="stylesheet" href="./assets/style/style.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>

    <header class="nav-container hidden">
        <nav>
            <div class="nav-logo">
                <a href="/">
                    <img src="./assets/image/logo-only.png" alt="Haroka logo">
                </a>
            </div>

            <div class="nav-social">
                <a href="https://instagram.com/harokaid" title="Instagram">
                    <i class="ph-thin ph-instagram-logo"></i>
                </a>
                <a href="https://twitter.com/harokaid" title="Twitter">
                    <i class="ph-thin ph-twitter-logo"></i>
                </a>
                <a href="httpd://linkedin.com/in/harokaid" title="Linkedin">
                    <i class="ph-thin ph-linkedin-logo"></i>
                </a>
            </div>
        </nav>
    </header>

    {{ content }}
    <div class="logo-icon">
        <img src="./assets/image/logo-only.png" alt="haroka">
    </div>

    <div class="interface">
        <div class="identitas">
            <h1>Haroka</h1>
            <h2>Retail Sling Bag</h2>
            <h4>Fashion by Function</h4>
            <p>&nbsp;</p>
        </div>

        <ul class="sosmed">

            <li>
                <a href="https://buana.studio" target="_blank" class="link-card" title="Temukan saya di Website">
                    <div class="link-icon">
                        <i class="ph-fill ph ph-whatsapp-logo"></i>
                    </div>
                    <p>WhatsApp Admin</p>
                    <div class="link-action">
                        <i class="ph-duotone ph-copy"></i>
                    </div>
                </a>
            </li>
        
            <li>
                <a href="https://buana.studio" target="_blank" class="link-card" title="Temukan saya di Website">
                    <div class="link-icon">
                        <i class="ph-fill ph-shopping-cart"></i>
                    </div>
                    <p>Tokopedia</p>
                    <div class="link-action">
                        <i class="ph-duotone ph-copy"></i>
                    </div>
                </a>
            </li>

            <li>
                <a href="https://buana.studio" target="_blank" class="link-card" title="Temukan saya di Website">
                    <div class="link-icon">
                        <i class="ph-fill ph-shopping-cart"></i>
                    </div>
                    <p>Shopee</p>
                    <div class="link-action">
                        <i class="ph-duotone ph-copy"></i>
                    </div>
                </a>
            </li>
        
            <li>
                <a href="https://buana.studio" target="_blank" class="link-card" title="Temukan saya di Website">
                    <div class="link-icon">
                        <i class="ph-fill ph-shopping-cart"></i>
                    </div>
                    <p>Lazada</p>
                    <div class="link-action">
                        <i class="ph-duotone ph-copy"></i>
                    </div>
                </a>
            </li>

            <li>
                <a href="https://buana.studio" target="_blank" class="link-card" title="Temukan saya di Website">
                    <div class="link-icon">
                        <i class="ph-fill ph-shopping-cart"></i>
                    </div>
                    <p>Blibli</p>
                    <div class="link-action">
                        <i class="ph-duotone ph-copy"></i>
                    </div>
                </a>
            </li>
            
        </ul>
        
    </div>

    <div class="copyright">
        <!-- <img src="./assets/image/logo-only.svg" alt="haroka Footer"> -->
        <object class="illustration" data="./assets/image/logo-only.svg" type="image/svg+xml"></object>
        <p>&copy; <script>document.write(new Date().getFullYear())</script> <a href="//buana.studio">Haroka Fashion by Functions</a> - All Rights Reserved</p>
        <p class="developer">Made with <i class="fa fa-heart heart"></i> by <a href="https://buana.studio">Buana Studios</a>. Like it? Make yours <a href="http://t.me/thesaktibuana">here.</a></p>
        <style>
/*            /svg/g/path*/
            .illustration svg > g > path{
                fill:#fff;
            }
        </style>
    </div>

    <!-- Toast Notification -->
    <div id="toast">
        <!-- Your toast container goes here -->
    </div>

    <script src="./assets/script/script.js"></script>
</body>
</html>
